#app-container{
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 4em;
  border-radius: 1em;
  border: 2px solid $grey;
  #form-container{
    background: $white;
    border-radius: 8px;
    padding: 1.5em 0;
    margin: 1em auto;
    width: 50%;
    border: 1px solid $grey;
    h3 {
      text-align: center;
      margin-bottom: 1.3em;
    }
    input {
      display: block;
      background: none;
      border: none;
      border-bottom: 0.2px solid $dark;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.8em;
      margin: 0.5em auto;
      outline: none;
      padding: 0.3em 0.8em;
      width: 80%;
      margin-bottom: 0;
    }
  }
}